{% extends 'base.html.twig' %}

{% block title %}Présences{% endblock %}
{% block stylesheets %}<link rel="icon" href="notes-edit-tools-svgrepo-com.svg">{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/Presence/src/Controller/DebutController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/Presence/templates/debut/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
