.table-custom{
    width: 50%;
    margin-left: 25%;
}
.titre{
    margin-top: 1em;
    text-align: center;
    color:white;
}
.btn-ajout{
    margin-left:43%;
    margin-top: 1em;
}
nav{
    margin-top: 2em;
    width: 50%;
    margin-left: 25%;
}
.searchnav{
    width: 60%;
}
.boutons{
    height: 60px;
    margin-top: 1em;
}
.container-fluid{
    margin-top: 1em;
}
